@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #d5e1ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px;
}

img {
  display: block;
  width: 100%;
  border-radius: 12px;
}

.qr-card {
  background-color: #fff;
  max-width: 350px;
  padding: 14px;
  padding-bottom: 40px;
  border-radius: 25px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.qr-heading {
  font-size: 24px;
  margin-top: 24px;
  color: #21314b;
  font-weight: 800;
  margin-inline: auto;
}

.qr-text {
  margin-top: 20px;
  font-size: 15px;
  color: #9fa0a5;
  width: 85%;
  margin-inline: auto;
  line-height: 1.5;
  font-weight: 600;
}
